<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
    <div class="container-fluid">
        <a
            class="navbar-brand"
            routerLink="/"
        >
            FriendsBook
        </a>

        <!-- Toggler Button -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >
            <div *ngIf="(isUserLoggedIn | async); then authenticatedUser else guest"></div>

            <ng-template #authenticatedUser>
                <ul class="navbar-nav ms-auto list-nav">
                    <li class="nav-item mx-2">
                        <a
                            class="nav-link"
                            routerLink="home"
                            routerLinkActive="active"
                        >
                            Home
                        </a>
                    </li>
                    <li *ngIf="(isAdmin | async)" class="nav-item mx-2">
                        <a
                            class="nav-link"
                            routerLink="users"
                            routerLinkActive="active"
                        >
                            Users
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a
                            class="nav-link"
                            routerLink="friends"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"
                        >
                            Friends
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a
                            class="nav-link"
                            routerLink="friends/network"
                            routerLinkActive="active"
                        >
                            Network
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a
                            class="nav-link"
                            routerLink="settings"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"
                        >
                            Settings
                        </a>
                    </li>
                </ul>
            </ng-template>

            <ng-template #guest>
                <ul class="navbar-nav ms-auto list-nav">
                    <li class="nav-item mx-2">
                        <a
                            class="nav-link"
                            routerLink="login"
                            routerLinkActive="active"
                        >
                            Login
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a
                            class="nav-link"
                            routerLink="register"
                            routerLinkActive="active"
                        >
                            Register
                        </a>
                    </li>
                </ul>
            </ng-template>

            <div
                *ngIf="user"
                class="mx-md-5 dropdown user-dropdown"
            >
                <a
                    class="text-white dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i
                        class="fa fa-user user-profile-img"
                        aria-hidden="true"
                    ></i>
                    {{user.firstName}} {{user.lastName}}
                </a>


                <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuLink"
                >
                    <li>
                        <a
                            class="dropdown-item"
                            [routerLink]="[ '/home' ]"
                        >
                            Profile
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            [routerLink]="[ '/settings' ]"
                        >
                            Settings
                        </a>
                    </li>
                    <li>
                        <a
                            class="dropdown-item"
                            (click)="logOut()"
                        >
                            Logout
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>
</nav>
