.user-dropdown {
    padding: 0.5rem 0;

    a {
        text-decoration: unset;
    }

    .dropdown-menu {
        padding: 0;
        right: 0;
    }

    .dropdown-item {
        cursor: pointer;
        padding: 0.5rem 1.5rem;
    }

    .user-profile-img {
        font-size: 22px;
        margin-right: 5px;
    }

    .profile-img {
        display: inline-block;
        margin-left: 18px;
        font-size: 22px;
    }
}

.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
