<div class="row">
    <div class="col ps-5">

        <div
            class="card"
            *ngIf="noUsers"
        >
            <div class="card-body">
                <i
                    class="fa fa-bell  icon-lg"
                    aria-hidden="true"
                ></i>
                <p class="mt-2 profession">
                    No registered user available in your network ...
                </p>
            </div>
        </div>

        <div
            *ngIf="isLoading || isLoadingError"
            class="card p-3 my-3"
        >
            <div class="card-body text-center">
                <div
                    *ngIf="isLoading"
                    class="spinner-border"
                    role="status"
                >
                    <span class="sr-only">Loading...</span>
                </div>
                <div
                    *ngIf="isLoadingError"
                    class="text-danger"
                >
                    Error occured while loading settings
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading">
            <div
                *ngFor="let user of networkUsers"
                class="card mb-3"
            >
                <div class="row card-body align-items-center">
                    <div class="col-sm-2">
                        <img
                            [src]="user.friendIcon"
                            class="network-photo"
                        >
                    </div>
                    <div class="col-sm-5">
                        <div class="show-network-header">
                            {{ user.firstName }} {{ user.lastName }}
                        </div>
                        <div class="profession">{{user.profession}}</div>
                    </div>

                    <div class="col-sm-5">
                        <div
                            class="text-end"
                            *ngIf="user.isNewUser"
                        >
                            <button
                                class="btn btn-primary"
                                type="button"
                                (click)="onRequestButtonClick(user)"
                            >
                                Friend Request
                            </button>
                        </div>
                        <div
                            class="text-end"
                            *ngIf="user.isRequested"
                        >
                            <button
                                class="btn btn-warning"
                                type="button"
                                disabled
                            >
                                Request Pending
                            </button>
                        </div>
                        <div
                            class="text-end"
                            *ngIf="user.isRejected"
                        >
                            <button
                                class="btn btn-danger"
                                type="button"
                                disabled
                            >
                                Request Rejected
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
